p
{
  color:rgb(255, 0, 34);
  font-size: 20px;
 
}
h1,h2,h3
 {
    color:red;
    background-color: rgb(129, 221, 23);
 }
 background-color:yellow;
 html
 {
  background-color: black; 

 }