.mobile{
    height: 600px;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.camra{
    height: 400px;
    width: 400px;
    background-color: rgb(202, 157, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 50%;
    background-color: floralwhite;
    width: 120px;
    
}
.small{
    background-color: black;
    height:10px;
    width: 10px;
    border-radius: 50%;

}